:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--clair);
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--bleu);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}



table{
  border-spacing: 0;
  color: var(--bleu);
  padding-bottom: 3rem;
  caption{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--bleu);
    font-weight: bold;
    text-transform: uppercase;
  }
  .nom_produit{
    width: 80%;
  }
}
thead{
  th{
    border: solid;
    padding: 1rem;
    font-size: 1.4rem;
  }
  .titre_modif{
    border-right: none;
    border-left: none;
    width: 10%;
  }
  .rang_3{
    border-right: none;
  }
  .email_user{
    border-left: none;
  }
  .detail{
    border-left: none;
  }
}
tbody{
  .product{
    .rang_3{
      border-right: none;
    }
    .detail{
      border-left: none;
      background-color: var(--bleu);
      text-align: center;
      a{
        color: var(--blanc);
      }
    }
    td{
      padding: 1rem;
      border: solid;
      border-top: none;
      a{
        color: var(--bleu);
        transition: all .3s;
        &:hover{
          opacity: .6;
        }
      }
      .supprimer_product{
        color: #db0d28;
      }
    }
    .email{
      border-left: none;
    }
    .date_rendu{
      border-left: none;
    }
  }
}

#homepage{
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
      .bloc_1{
      display: flex;
      flex-direction: column;
        align-items: center;
      }
  }
  .responsive1{
    .wrap{
      min-width: 500px;
    }
  }
  .responsive3{
    .wrap{
      min-width: 1000px;
    }
  }
}

#creneau{
  padding: 3rem;
  min-height:   86vh;
  h1{
    text-align: center;
    color: var(--bleu);
    font-size: 3rem;
    text-transform: uppercase;
  }
  form{
    padding-top: 3rem;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .ajout_user{
      display: flex;
      flex-direction: column;
      label{
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--bleu);
      }
      select{
        color: var(--bleu);
        text-transform: uppercase;
        font-weight: bold;
        padding: .5rem;
        border-radius: 5px;
      }
    }
    .submit{
      max-width: 7rem;
      width: 100%;
      margin: 0 auto;
      input{
        color: var(--blanc);
        padding: .6rem 2.5rem;
        cursor: pointer;
        background-color: var(--bleu);
        border: none;
        border-radius: 5px;
        transition: all .3s;
        &:hover{
          transform: scale(1.03);
        }
      }
    }
  }
  .listing_user_creneau{
    padding: 3rem;
    h3{
      text-align: center;
      font-size: 1.7rem;
      color: var(--bleu);
    }
    ul{
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li{
        color: var(--bleu);
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        -webkit-box-shadow: 0 9px 22px 1px rgba(146,146,146,0.76);
        box-shadow: 0 9px 22px 1px rgba(146,146,146,0.76);
        padding: 1rem 3rem;
        gap: 1rem;
        a{
          font-weight: normal;
          color: #fc0505;
          transition: all .3s;
          &:hover{
            opacity: .4;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1010px) {
  #homepage{
    .responsive3{
        overflow-x: scroll;
        padding: 0;
    }
  }
}
@media screen and (max-width: 626px){
  #creneau{
    padding: 3rem 0;
    h1{
      font-size: 2rem;
    }
    .listing_user_creneau{
      h3{
        font-size: 1rem;
      }
      ul{
        li{
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #homepage{
    .responsive1{
        overflow-x: scroll;
        padding-left: 2rem;
        th{
          font-size: 1rem;
        }

    }
  }
  
}